@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&family=Quicksand:wght@700&family=Zen+Kurenaido&display=swap');
body {

	font-family: 'Quicksand', sans-serif;
}
ol {
	list-style-type: square;
}
ol li {
	margin: 10px;
	background-color: coral;
}

div {
	line-height: 200% ;
	font-size: 1.3rem;
	border: 3px solid blue;
}
html {
	background-image: url('estrella.png');
	background-repeat: repeat-y;
	background-position: right;
}


